<% provide(:title, "SIGN UP") %>
<div class="wrapper">
  <h2 text-align="center">Sign up</h2>
  <div class="cover">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        <div id="error_explanation">
          <%= render 'devise/shared/error_message', locals:{find_error_for:/\AName/}, object: f.object %>
        </div>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email,  autocomplete: "email" %>
        <div id="error_explanation">
          <%= render 'devise/shared/error_message', locals:{find_error_for:/\AEmail/}, object: f.object %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <div id="error_explanation">
          <%= render 'devise/shared/error_message', locals:{find_error_for:/\APassword (must|is|can't)/}, object: f.object %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        <div id="error_explanation">
          <%= render 'devise/shared/error_message', locals:{find_error_for:/\APassword confirmation/}, object: f.object %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" ,class:"button"%>
      </div>
    <% end %>


    <%= render "devise/shared/links" %>


  </div>
</div>