<%= form_for object do |f| %>
  <% if object.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(object.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% object.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="content">
    <%= f.label :content, style: "display: block" %>
    <%= f.text_area :content %>
  </div>

  <div >
    <%= f.submit%>
  </div>
<% end %>
